<div class="content clearfix">
    <div class="content_left">
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th>曜日</th>
                    <th>種族</th>
                    <th>魔獣</th>
                    <th>スケジュール</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>期間限定<br>
                    12/4~12/25</th>
                    <td>幻獣</td>
                    <td>放浪娘サンタガール</td>
                    <td>2018クリスマスキャンペーン</td>
                </tr>
                <tr>
                    <th>月曜日</th>
                    <td>無機物</td>
                    <td>ウィルオウィスプ<br>
                    ケツァルカトル<br>
                    ソウルリッパー<br>
                    ホムンクルス</td>
                </tr>
                <tr>
                    <th>火曜日</th>
                    <td>竜</td>
                    <td>アジ・ダハーカ<br>
                    エンシェントドラゴン<br>
                    ジャバウォック<br>
                    ピュートーン</td>
                    <td>21:30～22:30<br>
                    ナナの学術指南</td>
                </tr>
                <tr>
                    <th>水曜日</th>
                    <td>幻獣</td>
                     <td>キュウビ<br>
                    コカトリス<br>
                    セイレーン<br>
                    ティターニア</td>
                </tr>
                <tr>
                    <th>木曜日</th>
                    <td>悪魔</td>
                    <td>ヴァンパイア<br>
                    クトゥルフ<br>
                    バンシー<br>
                    マンティコア</td>
                    <td>21:30~22:30<br>
                    ルルの豊穣建国</td>
                </tr>
                <tr>
                    <th>金曜日</th>
                    <td>幻獣<br>
                    <br>
                    悪魔</td>
                    <td>グリフォン<br>
                    ワルキューレ<br>
                    サキュバス<br>
                    リッチ</td>
                    <td>21:30~23:30<br>
                    【KNS】モンハン同盟イベ</td>
                </tr>
                <tr>
                    <th>土曜日</th>
                     <td>神<br>
                    <br>
                    <br>
                    竜</td>
                    <td>カーリー<br>
                    ヒュプノス<br>
                    ロキ<br>
                    エキドナ<br>
                    メデューサ</td>
                </tr>
                <tr>
                    <th>日曜日</th>
                    <td>亜人</td>
                    <td>ゴライアス<br>
                    バステト<br>
                    バロール<br>
                    ブリアレオス</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="content_right">
     <iframe width=650 height=810 
      src="https://docs.google.com/spreadsheets/d/e/2PACX-1vT2LjrD9pWNIOhBnZNAssUZ7LlvR2umvuZoUrkJRSaHuNhp2_RjuLla5I5y1Bg54-aN5ht-G_GqXlpw/pubhtml?widget=true&amp;headers=false"></iframe>
    </div>
</div>