<div class="container">
  <div class="panel panel-default">
    <h3>
      投稿が完了しました。
    </h3>
    <a class="btn" href="/equipments">装備一覧へ戻る</a>
    <a class="btn" href="/equipments/new">装備投稿へ戻る</a>
  </div>
</div>