<div class="nested-fields col-sm-10">
    <%= f.collection_select(:material_id, Material.order('genre ASC').all, :id, :name, :prompt => true) %>
    
    

<!--<option class="nomal">木材</option>-->
<!--<option class="high_grade">皮革</option>-->
<!--<option class="high_grade">羽毛</option>-->
<!--<option class="top_grade">きれいな羽</option>-->
<!--<option class="nomal">小石</option>-->
<!--<option class="high_grade">粘っこい土</option>-->
<!--<option class="high_grade">ライムストーン</option>-->
<!--<option class="top_grade">金剛石</option>-->
<!--<option class="nomal">青銅</option>-->
<!--<option class="high_grade">鋼鉄</option>-->
<!--<option class="high_grade">ミスリル鉱石</option>-->
<!--<option class="top_grade">黄金</option>-->
<!--<option class="nomal">生地</option>-->
<!--<option class="high_grade">蜘蛛の網</option>-->
<!--<option color="high_grade">より糸</option>-->
<!--<option class="top_grade">高級繊維</option>-->
<!--<optgroup label="強化石">-->
<!--<option class="nomal">武の紫微石</option>-->
<!--<option class="high_grade">武の紫石</option>-->
<!--<option class="top_grade">武の紫晶石</option>-->
<!--<option class="superiority">武の紫星石</option>-->
<!--<option class="nomal">兜の紅微石</option>-->
<!--<option class="high_grade">兜の紅石</option>-->
<!--<option class="top_grade">兜の紅晶石</option>-->
<!--<option class="superiority">兜の紅星石</option>-->
<!--<option class="nomal">鎧の蒼微石</option>-->
<!--<option class="high_grade">鎧の蒼石</option>-->
<!--<option class="top_grade">鎧の蒼晶石</option>-->
<!--<option class="superiority">鎧の蒼星石</option>-->
<!--<option class="nomal">靴の翆微石</option>-->
<!--<option class="high_grade">靴の翆石</option>-->
<!--<option class="top_grade">靴の翆晶石</option>-->
<!--<option class="superiority">靴の翆星石</option>-->
<!--<option class="nomal">飾の黃微石</option>-->
<!--<option class="high_grade">飾の黃石</option>-->
<!--<option class="top_grade">飾の黃晶石</option>-->
<!--<option class="superiority">飾の黃星石</option>-->
<!--<optgroup label="リザードマン">-->
<!--<option class="nomal">爬石竜の尻尾</option>-->
<!--<option class="high_grade">砕け折れた鉄斧</option>-->
<!--<option class="top_grade">爬石竜の碧燐</option>-->
<!--<optgroup label="ガーゴイル">-->
<!--<option class="nomal">石獣の鋭利な爪</option>-->
<!--<option class="high_grade">命の清水</option>-->
<!--<option class="top_grade">石獣の禍々しき羽</option>-->
<!--<optgroup label="サイクロプス">-->
<!--<option class="nomal">一つ目巨人の毛皮</option>-->
<!--<option class="high_grade">折れた大きな木槌</option>-->
<!--<option class="top_grade">巨人の一つ目</option> -->
<!--<optgroup label="アイアンゴーレム">-->
<!--<option class="nomal">鋼鉄の歯車</option>-->
<!--<option class="high_grade">心鉄</option>-->
<!--<option class="top_grade">不消火</option>-->
<!--<optgroup label="ワイバーン">-->
<!--<option class="nomal">翼竜の銀の鉤爪</option>-->
<!--<option class="high_grade">翼竜の赤翼</option>-->
<!--<option class="top_grade">翼竜の毒針</option>-->
<!--<optgroup label="ミノタウロス">-->
<!--<option class="nomal">牛戦士の角</option>-->
<!--<option class="high_grade">壊れたピアス</option>-->
<!--<option class="top_grade">牛皮</option>-->
<!--<optgroup label="ブリザードナイト">-->
<!--<option class="nomal">冷騎士の氷片</option>-->
<!--<option class="high_grade">冷騎士の刃</option>-->
<!--<option class="top_grade">氷の核結晶</option>-->
<!--<optgroup label="アイスジャイアント">-->
<!--<option class="nomal">氷結巨人の毛皮</option>-->
<!--<option class="high_grade">氷結巨人の胃袋</option>-->
<!--<option class="top_grade">氷結巨人の尻尾</option>-->
<!--　 <optgroup label="恒常魔獣">-->
<!--　<optgroup label="サキュバス">-->
<!--<option class="nomal">淫魔の滑らかな尻尾</option>-->
<!--<option class="high_grade">淫魔の髪飾り</option>-->
<!--<option class="top_grade">淫魔の怪しげな瘴気</option>-->
<!--<option class="superiority">淫魔のオーブ</option>-->
<!--　<optgroup label="グリフォン">-->
<!--<option class="nomal">金色の翼</option>-->
<!--<option class="high_grade">鋭利な鉤爪</option>-->
<!--<option class="top_grade">大きなくちばし</option>-->
<!--<option class="superiority">千里眼</option>-->
<!--　<optgroup label="ワルキューレ">-->
<!--<option class="nomal">聖なる滴</option>-->
<!--<option class="high_grade">天使の羽</option>-->
<!--<option class="top_grade">天使の鏡</option>-->
<!--<option class="superiority">煌めく極光石</option>-->
<!--　<optgroup label="ドラゴンゾンビ・波乗りドラゾン★ミ">-->
<!--<option class="nomal">泡立つ液体</option>-->
<!--<option class="high_grade">うごめく肉塊</option>-->
<!--<option class="top_grade">毒の吐息</option>-->
<!--<option class="superiority">抉られた心臓</option>-->
<!--　<optgroup label="ゴライアス">-->
<!--<option class="nomal">綴られた武勇伝</option>-->
<!--<option class="high_grade">猛獣の毛皮</option>-->
<!--<option class="top_grade">鋼の装甲</option>-->
<!--<option class="superiority">黄金の鍔</option>-->
<!--　<optgroup label="ソウルリッパー">-->
<!--<option class="nomal">煌びやかな鎧片</option>-->
<!--<option class="high_grade">亡者の怨念</option>-->
<!--<option class="top_grade">魂喰らいの剣片</option>-->
<!--<option class="superiority">魔魂核</option>-->
<!--　<optgroup label="リッチ">-->
<!--<option class="nomal">ボロ布の切れ端</option>-->
<!--<option class="high_grade">死者の灰</option>-->
<!--<option class="top_grade">エクトプラズム</option>-->
<!--<option class="superiority">真紅の爪</option>-->
<!--　<optgroup label="メデューサ">-->
<!--<option class="nomal">嘆きの珊瑚</option>-->
<!--<option class="high_grade">海神の装身具の欠片</option>-->
<!--<option class="top_grade">石化の蛇髪</option>-->
<!--<option class="superiority">蛇姫の涙</option>-->
<!--　<optgroup label="セイレーン">-->
<!--<option class="nomal">海音女の金櫛</option>-->
<!--<option class="high_grade">海に生えし音の弦</option>-->
<!--<option class="top_grade">海風切り裂く頭翼</option>-->
<!--<option class="superiority">海音女の歌声</option>-->
<!--　<optgroup label="バステト">-->
<!--<option class="nomal">破損したシストラム</option>-->
<!--<option class="high_grade">守護神の青銅飾り</option>-->
<!--<option class="top_grade">猫の長しっぽ</option>-->
<!--<option class="superiority">古き美の織物</option>-->
<!--　<optgroup label="ヴァンパイア">-->
<!--<option class="nomal">夜の黒羽</option>-->
<!--<option class="high_grade">血を奪いし鋭牙</option>-->
<!--<option class="top_grade">鮮血瓶</option>-->
<!--<option class="superiority">死魂の灰</option>-->
<!--　<optgroup label="ウィルオウィスプ">-->
<!--<option class="nomal">鬼火の装身具</option>-->
<!--<option class="high_grade">煉獄の鋼</option>-->
<!--<option class="top_grade">幽世の蒼霧</option>-->
<!--<option class="superiority">ヘレナの絹布</option>-->
<!--　<optgroup label="エンシェントドラゴン">-->
<!--<option class="nomal">鋭棘の緑燐</option>-->
<!--<option class="high_grade">叡智の髭</option>-->
<!--<option class="top_grade">大地の剛角</option>-->
<!--<option class="superiority">暴風の翼</option>-->
<!--　<optgroup label="ティターニア">-->
<!--<option class="nomal">妖艶な魔髪</option>-->
<!--<option class="high_grade">妖蝶の小壺</option>-->
<!--<option class="top_grade">妖姫の髪飾り</option>-->
<!--<option class="superiority">ノーベルソウル</option>-->
<!--　<optgroup label="ブリアレオス">-->
<!--<option class="nomal">壊れた豪腕の篭手</option>-->
<!--<option class="high_grade">巨神の蛇尾</option>-->
<!--<option class="top_grade">堅牢な装甲の破片</option>-->
<!--<option class="superiority">巨神の天角声</option>-->
<!--　<optgroup label="バンシー">-->
<!--<option class="nomal">悲嘆の切れ端</option>-->
<!--<option class="high_grade">悲哀の装飾片</option>-->
<!--<option class="top_grade">哀哭の叫声</option>-->
<!--<option class="superiority">嘆きノ薔薇</option>-->
<!--　<optgroup label="ケツァルカトル">-->
<!--<option class="nomal">転輪翼の一片</option>-->
<!--<option class="high_grade">天空の警鈴</option>-->
<!--<option class="top_grade">鈍い輝きの鋼牙</option>-->
<!--<option class="superiority">残熱の龍眼</option>-->
<!--　<optgroup label="エキドナ">-->
<!--<option class="nomal">逆巻く双角</option>-->
<!--<option class="high_grade">竜炎の尾</option>-->
<!--<option class="top_grade">災禍の紫翼</option>-->
<!--<option class="superiority">竜姫の紅布</option>-->
<!--　<optgroup label="コカトリス">-->
<!--<option class="nomal">怪鳥の尾</option>-->
<!--<option class="high_grade">怪鳥の鶏冠</option>-->
<!--<option class="top_grade">怪鳥の鉤爪</option>-->
<!--<option class="superiority">怪鳥の灼眼</option>-->
<!--<optgroup label="バロール">-->
<!--<option class="nomal">死魔の双角</option>-->
<!--<option class="high_grade">魔槍の残骸</option>-->
<!--<option class="top_grade">魔眼封じ</option>-->
<!--<option class="superiority">サウィルダーナハの欠片</option>-->
<!--<optgroup label="クトゥルフ">-->
<!--<option class="nomal">クトゥルフの触手	</option>-->
<!--<option class="high_grade">堕落の紅翼</option>-->
<!--<option class="top_grade">狂信の瞳	</option>-->
<!--<option class="superiority">マエストーソの核</option>-->
<!--<optgroup label="ホムンクルス">-->
<!--<option class="nomal">生命の培養液</option>-->
<!--<option class="high_grade">人造人間の角</option>-->
<!--<option class="top_grade">白銀の御神</option>-->
<!--<option class="superiority">光彩の瘴気</option>-->
<!--<optgroup label="ジャバウォック">-->
<!--<option class="nomal">凶悪の鉤爪</option>-->
<!--<option class="high_grade">暴虐の片翼</option>-->
<!--<option class="top_grade">静寂の心臓</option>-->
<!--<option class="superiority">宛転たる舌</option>-->
<!--<optgroup label="カーリー">-->
<!--<option class="nomal">原始の織布</option>-->
<!--<option class="high_grade">ひしげた狂冠</option>-->
<!--<option class="top_grade">深紅の刃片</option>-->
<!--<option class="superiority">狂愛の証</option>-->
<!--<optgroup label="アジ・ダハーカ">-->
<!--<option class="nomal">毒漬けの湾曲角</option>-->
<!--<option class="high_grade">毒竜の砕けた髪飾り</option>-->
<!--<option class="top_grade">紫毒のスカート</option>-->
<!--<option class="superiority">苦の瘴気</option>-->
<!--<optgroup label="キュウビ">-->
<!--<option class="nomal">欠けた妖狐の瓢箪</option>-->
<!--<option class="high_grade">破れた魅惑の着物</option>-->
<!--<option class="top_grade">砕けた雅な扇子</option>-->
<!--<option class="superiority">妖しげな九尾</option>-->
<!--<optgroup label="マンティコア">-->
<!--<option class="nomal">群青の翼膜</option>-->
<!--<option class="high_grade">砕けた縞模様の角</option>-->
<!--<option class="top_grade">猛毒の蠍尾</option>-->
<!--<option class="superiority">鬼顎の髭</option>-->
<!--<optgroup label="ヒュプノス">-->
<!--<option class="nomal">絶たれた眠り</option>-->
<!--<option class="high_grade">睡魔の端切れ</option>-->
<!--<option class="top_grade">まどろみの羽</option>-->
<!--<option class="superiority">夢の結晶</option>-->
<!--<optgroup label="ピュートーン">-->
<!--<option class="nomal">ポイゾナス・ハイド</option>-->
<!--<option class="high_grade">フィアー・テイル	</option>-->
<!--<option class="top_grade">ブルータル・クロウ</option>-->
<!--<option class="superiority">バイオレンス・コア</option>-->
<!--<optgroup label="スフィンクス">-->
<!--<option class="nomal">埋葬の呪布</option>-->
<!--<option class="high_grade">砕けた王家の杖</option>-->
<!--<option class="top_grade">スカラベの蒼玉</option>-->
<!--<option class="superiority">スフィンクスの蛇形記章</option>-->

<!--<optgroup label="四天龍">-->
<!--<option class="extreme">四竜の極輝石(Lv7~)</option>-->
<!--<optgroup label="究極龍・ビシャモン">-->
<!--<option class="nomal">破邪の鉤爪</option>-->
<!--<option class="high_grade">北方四神の宝玉</option>-->
<!--<option class="top_grade">鮮血の鋭角</option>-->
<!--<option class="superiority">深淵の翼</option>-->
<!--<option class="legend">真理ノ天核(Lv7~)</option>-->
<!--<optgroup label="光輪龍・ジコク">-->
<!--<option class="nomal">金色の竜尾</option>-->
<!--<option class="high_grade">東方四神の宝玉</option>-->
<!--<option class="top_grade">麗しき光翼</option>-->
<!--<option class="superiority">勇ましい樹角</option>-->
<!--<option class="legend">光輪ノ天核(Lv7~)</option>-->
<!--<optgroup label="灼炎龍・コウモク">-->
<!--<option class="nomal">紅蓮の表皮</option>-->
<!--<option class="high_grade">西方四神の宝玉</option>-->
<!--<option class="top_grade">猛炎の剣山</option>-->
<!--<option class="superiority">数多の炎眼</option>-->
<!--<option class="legend">灼炎ノ天核(Lv7~)</option>-->
<!--<optgroup label="氷獄龍・ゾウチョウ">-->
<!--<option class="nomal">融けない氷鱗</option>-->
<!--<option class="high_grade">南方四神の宝玉</option>-->
<!--<option class="top_grade">絶対零度の凍翼</option>-->
<!--<option class="superiority">凍える瞳</option>-->
<!--<option class="legend">氷獄ノ天核(Lv7~)</option>-->

<!--　　　　<optgroup label="召喚限定魔獣">-->
<!--　　　　  <optgroup label="ケルベロス">-->
<!--<option class="nomal">呪縛する闘気</option>-->
<!--<option class="high_grade">再生する尾</option>-->
<!--<option class="top_grade">漆黒のたてがみ</option>-->
<!--<option class="superiority">狩猟者の魔眼</option>-->
<!--<optgroup label="オーディン">-->
<!--<option class="nomal">メギンギョルズの切れ端</option>-->
<!--<option class="high_grade">スレイプニルの蹄鉄	</option>-->
<!--<option class="top_grade">アルファズルの鎧片</option>-->
<!--<option class="superiority">戦刃の破片</option>-->
<!--<optgroup label="デーモン">-->
<!--<option class="nomal">禍々しい頭角</option>-->
<!--<option class="high_grade">破損したチャクラム</option>-->
<!--<option class="top_grade">凄惨核</option>-->
<!--<option class="superiority">禍心の棘結晶</option>-->

<!--　　　　<optgroup label="期間限定魔獣">-->
<!--　　　　  <optgroup label="嫦娥">-->
<!--<option class="nomal">中秋節の月餅</option>-->
<!--<option class="high_grade">月の欠片</option>-->
<!--<option class="top_grade">仙女の涙</option>-->
<!--<option class="superiority">賢兎の縫いぐるみ</option>-->
<!--<optgroup label="ジャックランタンガール">-->
<!--<option class="nomal">悪食コウモリ</option>-->
<!--<option class="high_grade">クラウン・ハット	</option>-->
<!--<option class="top_grade">悪戯娘のエトッフ</option>-->
<!--<option class="superiority">キング・パンプキン</option>-->
<!--<optgroup label="年獣">-->
<!--<option class="nomal">黄金色のくつわ</option>-->
<!--<option class="high_grade">邪教の呪具片</option>-->
<!--<option class="top_grade">異形の御手</option>-->
<!--<option class="superiority">一角の砕屑</option>-->
<!--<optgroup label="放蕩娘サンタレディ">-->
<!--<option class="nomal">作り物の翼</option>-->
<!--<option class="high_grade">残り香付きの布切れ</option>-->
<!--<option class="top_grade">飾りの余り</option>-->
<!--<option class="superiority">拘束用の鎖</option>-->

<!--<optgroup label="コラボ魔獣">-->
<!--<optgroup label="メタルゴッド">-->
<!--<option class="nomal">魔鋼皇の胸飾り</option>-->
<!--<option class="high_grade">魔鋼皇の冠</option>-->
<!--<option class="top_grade">魔鋼皇の星玉	</option>-->
<!--<optgroup label="クリスタルゴッド">-->
<!--<option class="nomal">アルケウスの砂</option>-->
<!--<option class="high_grade">水晶皇の王冠</option>-->
<!--<option class="top_grade">黄帝の羽玩具</option>-->
<!--<option class="superiority">孔雀王の輝石</option>-->
<!--<optgroup label="ゾッド">-->
<!--<option class="nomal">鉄塊</option>-->
<!--<option class="high_grade">人外の怨念</option>-->
<!--<option class="top_grade">妖精の鱗片</option>-->
<!--<option class="superiority">ベヘリット</option>-->
<!--<optgroup label="赤き魔神">-->
<!--<option class="nomal">血に染まった薔薇</option>-->
<!--<option class="high_grade">魔神の血</option>-->
<!--<option class="top_grade">生命の泉の水</option>-->
<!--<option class="superiority">常闇の棺</option>-->
<!--<optgroup label="創叡神マクスウェル">-->
<!--<option class="nomal">アークフォリア</option>-->
<!--<option class="high_grade">源聖黒龍の亡骸</option>-->
<!--<option class="top_grade">創叡神天槍の残骸</option>-->
<!--<option class="superiority">生巡の魂器</option>-->
<!--<optgroup label="ヤミー">-->
<!--<option class="nomal">廃材</option>-->
<!--<option class="high_grade">なめし革	</option>-->
<!--<option class="top_grade">精霊石</option>-->
<!--<option class="superiority">千年霊樹</option>-->
<!--<optgroup label="異族　竜騎型種">-->
<!--<option class="nomal">錬成のインゴット・大</option>-->
<!--<option class="high_grade">獣王の紅牙</option>-->
<!--<option class="top_grade">龍神の黄翼</option>-->
<!--<option class="superiority">輝石の虹薔薇</option>-->
<!--<optgroup label="魔人">-->
<!--<option class="nomal">ダマスク鉱石</option>-->
<!--<option class="high_grade">アルケミィポット銀</option>-->
<!--<option class="top_grade">ゴールド武具の欠片</option>-->
<!--<option class="superiority">誰ガ為の林檎</option>-->
<!--<optgroup label="毒吹きアゲハ">-->
<!--<option class="nomal">しなる枝</option>-->
<!--<option class="high_grade">アリアドネの糸</option>-->
<!--<option class="top_grade">毒蝶の翅</option>-->
<!--<option class="superiority">アンブロシア</option>-->

    <%= f.text_field :value, html: {class: 'form-control'} %>
    <%= link_to_remove_association "削除", f %>
</div>